* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

<<<<<<< HEAD
=======
h1 {
    background-color: black;
    font-size: 5px;
}

.body {
    display: flex;
    height: 70px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo-img {
    height: 50px;
    padding-right: 10px;
}

nav a:hover {
    color: purple;
}

.search {
    padding-left: 100px;
}



.logo {
    background-color: black;
    width: 1500px;
    height: 80px;
    padding-left: 20px;
    padding-top: 15px;


}

.menu {
    max-width: 100%;
    margin: auto;
    height: 100%;

}

nav {
    height: 100%;
}

nav>ul {
    height: 100%;
    display: flex;
}

nav ul li {
    height: 100%;
    list-style: none;
    position: relative;
}

nav>ul>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    transition: all 300ms ease;
    text-decoration: none;
}

/*sub menu*/
nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a {
    display: block;
    color: black;
    padding-left: 6px;
    margin-left: 6px;
    margin-top: 6px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
    text-decoration: none;
}

nav ul li ul li a:hover {
    background-color: white;
    color: black;
    transform: scale(1.2);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);


}

.banner {
    width: 100%;
    height: 300px;
}

>>>>>>> 48e377c27358d1baa40e24145ffd44cf29241fa3

/*Main index*/
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    padding: 20px;
    background-color: black;
    color: rgb(242, 231, 247);
    text-align: center;


}

.products {
    width: 500px;
    margin: 100px;
    height: 500px;
    background:rgb(242, 231, 247) ;
    background-color: rgb(242, 231, 247);

}

.grid-index {
    display: grid;
    grid-template-columns: 200px 200px;
    background-color: rgb(242, 231, 247);
    background: rgb(242, 231, 247);

}

.recycle {
    width: 1460px;
    padding: 15px;
    height: 300px;
    display: inline-block;
    padding-left: 65px;
    padding-top: 40px;
    background: rgb(242, 231, 247);


}

.video {
    padding: 40px;
    background-color: rgb(242, 231, 247);
    background: rgb(242, 231, 247);



}

.team {
    padding: 40px;
    padding-left: 70px;
    width: 1460px;
    height: 350px;
    background-color:rgb(242, 231, 247);
    background: rgb(242, 231, 247);
}

/*footer*/
.footer {
    padding: 40px 0;
    background-color: black;
    text-align: center;
    color: white;
}

.foot{
    text-decoration: none;
    color: white;
}

.logo-compania {
    padding-bottom: 0px;
}

.insta {
    width: 30px;
    padding-top: 15px;

}


/*main skate*/
.skateboards {
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
}

.contenido-skate {
    width: 400px;
    margin: 85px;
    height: 400px;
    display: inline-block;

}

.grid-container {
    display: grid;
    background-color: rgb(242, 231, 247);
<<<<<<< HEAD
    grid-template-columns: 450px 450px 450px 450px;
=======
    grid-template-columns: 450px 450px 450px;
>>>>>>> 48e377c27358d1baa40e24145ffd44cf29241fa3

}

.side-bar {
    position: relative;
    left: 0;
    width: 250px;
    height: 100%;
    background: black;
}

.side-bar ul {
    font-size: 22px;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 70px;
    background: rgb(224, 156, 255);
    user-select: none;
}

.side-bar ul li {
    display: block;
    height: 100%;
    width: 100%;
    line-height: normal;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid black;
    transition: .4s;
    list-style: none;
}

ul li:hover a {
    padding-left: 50px;
}

.side-bar ul li a ul {
    margin-right: 16px;

}

.side-bar {
    height: 100%;
}

.side-bar>ul {
    height: 100%;
    display: block;
}

.side-bar ul li {
    height: 100%;
    list-style: none;
    position: relative;
}

.side-bar>ul>li>a {
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    transition: all 300ms ease;
    text-decoration: none;
}

/*sub menu*/
.side-bar ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    transition: all 300ms ease;
}

.side-bar ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

.side-bar ul li ul li a {
    display: block;
    color: black;
    padding-left: 6px;
    margin-left: 6px;
    margin-top: 6px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
    text-decoration: none;
}

.side-bar ul li ul li a:hover {
    background-color: white;
    color: black;
    transform: scale(1.2);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);


}

/*main ropa*/

.contenido-ropa {
    width: 400px;
    margin: 85px;
    height: 400px;
}

.grid-ropa {
    display: grid;
    background-color: rgb(242, 231, 247);
    grid-template-columns: 450px 450px 450px;

}

.tabla-medidas {
    padding-left: 610px;
    padding-bottom: 40px;
    background-color: rgb(242, 231, 247);
}

/*main Accesorios*/

.contenido-acc {
    width: 400px;
    margin: 85px;
    height: 400px;
}

.grid-acc {
    display: grid;
    background-color: rgb(242, 231, 247);
    grid-template-columns: 450px 450px 450px;

}

.slider {
    width: 100%;
    overflow: scroll;
}

.slider ul {
    display: flex;
    animation: cambio 0 alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    height: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -300%;
    }

    75% {
        margin-left: -300;
    }

    100% {
        margin-left: -300;
    }

}
